.custom {
    width: 150px !important;
}


.tile {
    width: 100%;

    border-radius: 5px;
    box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.7);
    float: left;
    transform-style: preserve-3d;
    margin: 10px 5px;

}

.small {
    font-size: 0.5rem;
    text-shadow: 1px 1px #000000;
}

#to-country,
#from-country {
    font-size: 0.70rem;

}

div.bg-image {
    background: url(free_forex_trading_signals.jpg);
    opacity: 0.8;
    background-repeat: repeat;
    background-size: contain;
}



.header {
    background: url(free_forex_trading_signals.jpg);
    opacity: 0.8;
    background-repeat: repeat;
    background-size: contain;
    background-color: #5AADF2;
    border-bottom: 1px solid #ebeff2;
    padding: 19px 0;
    text-align: center;
    font-size: 600;
    font-size: 19px;
    text-shadow: 1px 1px #000000;
    position: relative;

}

.header1 {

    padding: 19px 0;
    text-align: center;
    font-size: 600;
    font-size: 19px;
    position: relative;
    text-shadow: 1px 1px #000000;

}

.dates {
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 20px 0px;
    margin: 10px 20px;
    font-size: 16px;
    color: #5aadef;
    font-weight: 600;
    overflow: auto;
}

.dates div {
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
}

.dates strong,
.stats strong {
    display: block;
    color: #adb8c2;
    font-size: 11px;
    font-weight: 700;
}


.stats {
    border-top: 1px solid #ebeff2;
    background: #f7f8fa;
    overflow: auto;
    padding: 15px 0;
    font-size: 16px;
    color: #59687f;
    font-weight: 600;
    border-radius: 0 0 5px 5px;
}

.stats div {
    border-right: 1px solid #ebeff2;
    width: 33.33333%;
    float: left;
    text-align: center
}

.stats div:nth-of-type(3) {
    border: none;
}

div.footer {
    text-align: right;
    position: relative;
    margin: 20px 20px;
}

div.footer a.Cbtn {
    padding: 10px 25px;
    background-color: #DADADA;
    color: #666;
    margin: 10px 2px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
}

.Cbtn-primary {
    background-color: #5AADF2;
    color: #FFF;
}

.Cbtn-primary:hover {
    background-color: #7dbef5;
}

div.footer a.Cbtn-danger {
    background-color: #fc5a5a;
    color: #FFF;
}

div.footer a.Cbtn-danger:hover {
    background-color: #fd7676;
}

.fas.fa-arrow-alt-circle-up {
    color: green;
}

.fas.fa-arrow-alt-circle-down {
    color: #fc5a5a;
}

.green {
    color: green;
}

.blue {
    color: #7dbef5;
}

.yellow {
    color: #fcd15a;
}

.red {
    color: #fc5a5a;
}

#data {
    display: none;
}