{% extends 'forex_converter.html' %}
{% block conversion %}

<div class="container-fluid">
    <div class="row justify-content-center py-1 ">
        <div class="bg-light col-sm-5 ">
            <div class="tile card">
                <div class="wrapper">
                    <div class="header text-light">CONVERSION RESULT</div>

                    <div class="dates">
                        <div class="col-sm-4">
                            <strong>{{ name_from_country}}</strong>{{ from_country}}  {{ symbol_from_country }}  {{ amount }}
                            <span></span>
                        </div>
                        
                        <div class="col-sm-4 fas fa-exchange-alt mt-3"></div>
                        <div class="col-sm-4">
                            <strong>{{ name_to_country}}</strong>{{ to_country }}  {{ symbol_to_country }}  {{ conv_result }}
                            <span></span>
                        </div>
                    </div>
                    <div class="footer">
                        <a href="/analysis" id="btnFetch" class="btn btn-sm Cbtn-primary">VIEW DETAILS</a>
                        <a href="/" class="btn btn-sm Cbtn-danger ">DISMISS</a>

                        {% block analysis %} {% endblock %}
                    </div>
                </div>
            </div> 
        </div>     
    </div>
</div>
{% endblock %}